
<ul class="post-main-section">
    
        <div class="post-content">
            <li class="post-owner">Justin Davidson</li>
            <li class="post-image"><%= image_tag @post.image.url(:medium) %></li>
            <li class="post-caption"><%= @post.caption %></li>
            
        </div>
        <%= link_to "Back", posts_path %>
        <%= link_to "Edit", edit_post_path(@post) %>
        <%= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure?" } %>
   
</ul>